## Notes

* asterisk indicates suppressed value (see below)
  * 2,788 suppressed values in 2020-2021 school year
  * Impute median of similar-sized schools for these?

"* indicates cell has been suppressed, a blank cell indicates no report has been received for a given district in the indicated time period, a 0 indicates that a report was received and no cases were reported for that group in the reported time period. Single-campus student cases and sources of infection are suppressed when (1) reported student cases are fewer than 5, (2) a campus has at least a 90% student positivity rate when on-campus enrollment for a school is at least 15 students, or (3) a campus has at least a 50% positivity rate when on-campus enrollment has fewer than 15 students. If only one campus in a district has suppressed student numbers then student and source of infection numbers for the campus with the next smallest numbers of positive students are also suppressed. Cumulative student cases and sources of infection numbers for a campus are suppressed when (1) student cases are less than five, or (2) current report numbers have been suppressed for the first three weeks that student cases are reported. If there is only one campus reporting in a district and it is a multiple campus, student and source of infection numbers are not suppressed for the district total. Otherwise, district totals are suppressed when (1) student cases are fewer than 5, or (2) a district has at least a 90% student positivity rate when total district enrollment is least 15 students, or, (3) a district has at least a 50% positivity rate when total district enrollment has fewer than 15 students, or (4) cases on a campus have been suppressed for the first three weeks that student cases are reported and there are fewer than 5 campuses reporting in a district."

In [116]:
import pandas as pd
import requests
import bs4
import os

In [117]:
print(os.getcwd())

/Users/dralbright/Documents/Data Career/Projects/tx-school-risk/notebooks

In [118]:
# Loading Excel file to get sheet names

sheets1 = pd.ExcelFile('../data/raw/Public-School-Data-Files-2020_2021-School-Year.xls')
print(sheets1.sheet_names)

['Dashboard', 'Campus Report_August 1', 'Campus Report_July 25', 'Campus Report_July 18', 'Campus Report_July 11', 'Campus Report_July 04', 'Campus Report_June 27', 'Campus Report_June 20', 'Campus Report_June13', 'Campus Report_June 6', 'Campus Report_May 30', 'Campus Report_May 23', 'Campus Report_May 16', 'Campus Report_May 09', 'Campus Report_May 02', 'Campus Report_April 25', 'Campus Report_April 18', 'Campus Report_April 11', 'Campus Report_April 4', 'Campus Report_March 28', 'Campus Report_March 21', 'Campus Report_March 14', 'Campus Report_March 7', 'Campus Report_February 28', 'Campus Report_February 21', 'Campus Report_February 14', 'Campus Report_February 7', 'Campus Report_January 31', 'Campus Report_January 24', 'Campus Report_January 17', 'Campus Report_January 12', 'Campus Report_January 5th', 'Campus Report_December 29', 'Campus Report_December 20', 'Campus Report_December 15', 'Campus Report_December 6', 'Campus Report_November 29', 'Campus Report_November 22', 'District Report_November 15', 'Disctrict Report_November 8', 'District Report_November 1', 'District Report_October 25', 'District Report_October 18', 'District Report_October 11', 'District Report_October 4', 'District Report_September 27', 'District Report_September 20']

In [119]:
# Attempt at putting this all in a loop

# List of sheet names from original Excel file

sheets = ['Campus Report_August 1', 'Campus Report_July 25', 'Campus Report_July 18', 'Campus Report_July 11', 'Campus Report_July 04', 'Campus Report_June 27', 'Campus Report_June 20', 'Campus Report_June13', 'Campus Report_June 6', 'Campus Report_May 30', 'Campus Report_May 23', 'Campus Report_May 16', 'Campus Report_May 09', 'Campus Report_May 02', 'Campus Report_April 25', 'Campus Report_April 18', 'Campus Report_April 11', 'Campus Report_April 4', 'Campus Report_March 28', 'Campus Report_March 21', 'Campus Report_March 14', 'Campus Report_March 7', 'Campus Report_February 28', 'Campus Report_February 21', 'Campus Report_February 14', 'Campus Report_February 7', 'Campus Report_January 31', 'Campus Report_January 24', 'Campus Report_January 17', 'Campus Report_January 12', 'Campus Report_January 5th', 'Campus Report_December 29', 'Campus Report_December 20', 'Campus Report_December 15', 'Campus Report_December 6', 'Campus Report_November 29']

# Getting first weekly report as base dataframe and cleaning out unnecessary columns
# This excludes on- and off-campus numbers, though those may be worth looking at later

df = pd.read_excel('../data/raw/Public-School-Data-Files-2020_2021-School-Year.xls', sheet_name="Campus Report_November 22", header=5)
df1 = df.iloc[:, 0:8]
df = pd.concat([df1, df.iloc[:, 13:15]])

# Renaming columns

df.columns.values[8] = 'Total student cases_Nov22'
df.columns.values[9] = 'Total staff cases_Nov22'

for i in sheets:
    
    # Create abbreviations for appending to columns in final merged dataframe
    
    if i[-2] == " ":
        abbrev = i[14:17] + i[-1]
    else:
        abbrev = i[14:17] + i[-2:]
        
    if abbrev == 'Janth':
        abbrev = "Jan5"
    
    # Read next sheet from Excel file
    
    df2 = pd.read_excel('../data/raw/Public-School-Data-Files-2020_2021-School-Year.xls',\
                            sheet_name=i, header=5)
    
    # Rename columns of interest (total student and staff cases)
    
    df2.columns.values[13] = 'Total student cases_' + abbrev
    df2.columns.values[14] = 'Total staff cases_' + abbrev
    
    # Merge with base dataframe
    
    df = df.merge(df2.iloc[:, 13:15], how='left', left_index=True, right_index=True)

print(df.columns)

Index(['District Name', 'District\nLEA\nNumber',
       'Total District\nEnrollment as\nof October 30, 2020',
       'Approximate\nDistrict On Campus\nEnrollment as of\nOctober 30, 2020',
       'Campus Name', 'Campus\nID',
       'Total School\nEnrollment as\nof October 30, 2020',
       'On-Campus\nEnrollment for\nSchool as of\nOctober 30, 2020',
       'Total student cases_Nov22', 'Total staff cases_Nov22',
       'Total student cases_Aug1', 'Total staff cases_Aug1',
       'Total student cases_Jul25', 'Total staff cases_Jul25',
       'Total student cases_Jul18', 'Total staff cases_Jul18',
       'Total student cases_Jul11', 'Total staff cases_Jul11',
       'Total student cases_Jul04', 'Total staff cases_Jul04',
       'Total student cases_Jun27', 'Total staff cases_Jun27',
       'Total student cases_Jun20', 'Total staff cases_Jun20',
       'Total student cases_Jun13', 'Total staff cases_Jun13',
       'Total student cases_Jun6', 'Total staff cases_Jun6',
       'Total student cases_May30', 'Total staff cases_May30',
       'Total student cases_May23', 'Total staff cases_May23',
       'Total student cases_May16', 'Total staff cases_May16',
       'Total student cases_May09', 'Total staff cases_May09',
       'Total student cases_May02', 'Total staff cases_May02',
       'Total student cases_Apr25', 'Total staff cases_Apr25',
       'Total student cases_Apr18', 'Total staff cases_Apr18',
       'Total student cases_Apr11', 'Total staff cases_Apr11',
       'Total student cases_Apr4', 'Total staff cases_Apr4',
       'Total student cases_Mar28', 'Total staff cases_Mar28',
       'Total student cases_Mar21', 'Total staff cases_Mar21',
       'Total student cases_Mar14', 'Total staff cases_Mar14',
       'Total student cases_Mar7', 'Total staff cases_Mar7',
       'Total student cases_Feb28', 'Total staff cases_Feb28',
       'Total student cases_Feb21', 'Total staff cases_Feb21',
       'Total student cases_Feb14', 'Total staff cases_Feb14',
       'Total student cases_Feb7', 'Total staff cases_Feb7',
       'Total student cases_Jan31', 'Total staff cases_Jan31',
       'Total student cases_Jan24', 'Total staff cases_Jan24',
       'Total student cases_Jan17', 'Total staff cases_Jan17',
       'Total student cases_Jan12', 'Total staff cases_Jan12',
       'Total student cases_Jan5', 'Total staff cases_Jan5',
       'Total student cases_Dec29', 'Total staff cases_Dec29',
       'Total student cases_Dec20', 'Total staff cases_Dec20',
       'Total student cases_Dec15', 'Total staff cases_Dec15',
       'Total student cases_Dec6', 'Total staff cases_Dec6',
       'Total student cases_Nov29', 'Total staff cases_Nov29'],
      dtype='object')

In [124]:
df.rename(columns = {'District Name':'District', 'District\nLEA\nNumber':'Dist LEA', \
                    'Total District\nEnrollment as\nof October 30, 2020':'Dist Enrollment 10/30/20', \
                    'Approximate\nDistrict On Campus\nEnrollment as of\nOctober 30, 2020':'Dist On-Campus Enrollment 10/30/20', \
                    'Total School\nEnrollment as\nof October 30, 2020':'Sch Enrollment 10/30/2020', \
                    'On-Campus\nEnrollment for\nSchool as of\nOctober 30, 2020':'Sch On-Campus Enrollment 10/30/2020', \
                    'Campus\nID':'Campus ID'}, \
         inplace=True)

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22300 entries, 0 to 11149
Data columns (total 82 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   District                             11149 non-null  object
 1   Dist LEA                             11147 non-null  object
 2   Dist Enrollment 10/30/20             11147 non-null  object
 3   Dist On-Campus Enrollment 10/30/20   11147 non-null  object
 4   Campus Name                          9409 non-null   object
 5   Campus ID                            9931 non-null   object
 6   Sch Enrollment 10/30/2020            11147 non-null  object
 7   Sch On-Campus Enrollment 10/30/2020  11147 non-null  object
 8   Total student cases_Nov22            8404 non-null   object
 9   Total staff cases_Nov22              8404 non-null   float64
 10  Total student cases_Aug1             22300 non-null  object
 11  Total staff cases_Aug1               22300 non-null  object
 12  Total student cases_Jul25            22300 non-null  object
 13  Total staff cases_Jul25              22300 non-null  object
 14  Total student cases_Jul18            19400 non-null  object
 15  Total staff cases_Jul18              19400 non-null  object
 16  Total student cases_Jul11            19400 non-null  object
 17  Total staff cases_Jul11              19400 non-null  object
 18  Total student cases_Jul04            19400 non-null  object
 19  Total staff cases_Jul04              19400 non-null  object
 20  Total student cases_Jun27            19398 non-null  object
 21  Total staff cases_Jun27              19398 non-null  object
 22  Total student cases_Jun20            19396 non-null  object
 23  Total staff cases_Jun20              19396 non-null  object
 24  Total student cases_Jun13            19396 non-null  object
 25  Total staff cases_Jun13              19396 non-null  object
 26  Total student cases_Jun6             19396 non-null  object
 27  Total staff cases_Jun6               19396 non-null  object
 28  Total student cases_May30            19390 non-null  object
 29  Total staff cases_May30              19390 non-null  object
 30  Total student cases_May23            19390 non-null  object
 31  Total staff cases_May23              19390 non-null  object
 32  Total student cases_May16            22300 non-null  object
 33  Total staff cases_May16              22300 non-null  object
 34  Total student cases_May09            22300 non-null  object
 35  Total staff cases_May09              22300 non-null  object
 36  Total student cases_May02            22300 non-null  object
 37  Total staff cases_May02              22300 non-null  object
 38  Total student cases_Apr25            19338 non-null  object
 39  Total staff cases_Apr25              19338 non-null  float64
 40  Total student cases_Apr18            19320 non-null  object
 41  Total staff cases_Apr18              19320 non-null  float64
 42  Total student cases_Apr11            19312 non-null  object
 43  Total staff cases_Apr11              19312 non-null  float64
 44  Total student cases_Apr4             19286 non-null  object
 45  Total staff cases_Apr4               19286 non-null  float64
 46  Total student cases_Mar28            19270 non-null  object
 47  Total staff cases_Mar28              19270 non-null  float64
 48  Total student cases_Mar21            19262 non-null  object
 49  Total staff cases_Mar21              19262 non-null  float64
 50  Total student cases_Mar14            19260 non-null  object
 51  Total staff cases_Mar14              19260 non-null  float64
 52  Total student cases_Mar7             19254 non-null  object
 53  Total staff cases_Mar7               19254 non-null  float64
 54  Total student cases_Feb28            19228 non-null  object
 55  Total staff cases_Feb28              19228 non-null  float64
 56  Total student cases_Feb21            19198 non-null  object
 57  Total staff cases_Feb21              19198 non-null  float64
 58  Total student cases_Feb14            19182 non-null  object
 59  Total staff cases_Feb14              19182 non-null  float64
 60  Total student cases_Feb7             19140 non-null  object
 61  Total staff cases_Feb7               19140 non-null  float64
 62  Total student cases_Jan31            19084 non-null  object
 63  Total staff cases_Jan31              19084 non-null  float64
 64  Total student cases_Jan24            18944 non-null  object
 65  Total staff cases_Jan24              18944 non-null  float64
 66  Total student cases_Jan17            18742 non-null  object
 67  Total staff cases_Jan17              18742 non-null  float64
 68  Total student cases_Jan12            18620 non-null  object
 69  Total staff cases_Jan12              18620 non-null  float64
 70  Total student cases_Jan5             18398 non-null  object
 71  Total staff cases_Jan5               18398 non-null  float64
 72  Total student cases_Dec29            18378 non-null  object
 73  Total staff cases_Dec29              18378 non-null  float64
 74  Total student cases_Dec20            18336 non-null  object
 75  Total staff cases_Dec20              18336 non-null  float64
 76  Total student cases_Dec15            18142 non-null  object
 77  Total staff cases_Dec15              18142 non-null  float64
 78  Total student cases_Dec6             17668 non-null  object
 79  Total staff cases_Dec6               17668 non-null  float64
 80  Total student cases_Nov29            17112 non-null  object
 81  Total staff cases_Nov29              17112 non-null  float64
dtypes: float64(23), object(59)
memory usage: 14.1+ MB

In [130]:
# New dataframe that does not contain district total rows
# Not working yet

dfsch = df[df['District'].str.contains('Total')==False]

dfsch.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11149 entries, 0 to 11149
Data columns (total 82 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   District                             11149 non-null  object
 1   Dist LEA                             11147 non-null  object
 2   Dist Enrollment 10/30/20             11147 non-null  object
 3   Dist On-Campus Enrollment 10/30/20   11147 non-null  object
 4   Campus Name                          9409 non-null   object
 5   Campus ID                            9931 non-null   object
 6   Sch Enrollment 10/30/2020            11147 non-null  object
 7   Sch On-Campus Enrollment 10/30/2020  11147 non-null  object
 8   Total student cases_Nov22            0 non-null      object
 9   Total staff cases_Nov22              0 non-null      float64
 10  Total student cases_Aug1             11149 non-null  object
 11  Total staff cases_Aug1               11149 non-null  object
 12  Total student cases_Jul25            11149 non-null  object
 13  Total staff cases_Jul25              11149 non-null  object
 14  Total student cases_Jul18            9699 non-null   object
 15  Total staff cases_Jul18              9699 non-null   object
 16  Total student cases_Jul11            9699 non-null   object
 17  Total staff cases_Jul11              9699 non-null   object
 18  Total student cases_Jul04            9699 non-null   object
 19  Total staff cases_Jul04              9699 non-null   object
 20  Total student cases_Jun27            9698 non-null   object
 21  Total staff cases_Jun27              9698 non-null   object
 22  Total student cases_Jun20            9697 non-null   object
 23  Total staff cases_Jun20              9697 non-null   object
 24  Total student cases_Jun13            9697 non-null   object
 25  Total staff cases_Jun13              9697 non-null   object
 26  Total student cases_Jun6             9697 non-null   object
 27  Total staff cases_Jun6               9697 non-null   object
 28  Total student cases_May30            9694 non-null   object
 29  Total staff cases_May30              9694 non-null   object
 30  Total student cases_May23            9694 non-null   object
 31  Total staff cases_May23              9694 non-null   object
 32  Total student cases_May16            11149 non-null  object
 33  Total staff cases_May16              11149 non-null  object
 34  Total student cases_May09            11149 non-null  object
 35  Total staff cases_May09              11149 non-null  object
 36  Total student cases_May02            11149 non-null  object
 37  Total staff cases_May02              11149 non-null  object
 38  Total student cases_Apr25            9668 non-null   object
 39  Total staff cases_Apr25              9668 non-null   float64
 40  Total student cases_Apr18            9659 non-null   object
 41  Total staff cases_Apr18              9659 non-null   float64
 42  Total student cases_Apr11            9655 non-null   object
 43  Total staff cases_Apr11              9655 non-null   float64
 44  Total student cases_Apr4             9642 non-null   object
 45  Total staff cases_Apr4               9642 non-null   float64
 46  Total student cases_Mar28            9634 non-null   object
 47  Total staff cases_Mar28              9634 non-null   float64
 48  Total student cases_Mar21            9630 non-null   object
 49  Total staff cases_Mar21              9630 non-null   float64
 50  Total student cases_Mar14            9629 non-null   object
 51  Total staff cases_Mar14              9629 non-null   float64
 52  Total student cases_Mar7             9626 non-null   object
 53  Total staff cases_Mar7               9626 non-null   float64
 54  Total student cases_Feb28            9613 non-null   object
 55  Total staff cases_Feb28              9613 non-null   float64
 56  Total student cases_Feb21            9598 non-null   object
 57  Total staff cases_Feb21              9598 non-null   float64
 58  Total student cases_Feb14            9590 non-null   object
 59  Total staff cases_Feb14              9590 non-null   float64
 60  Total student cases_Feb7             9569 non-null   object
 61  Total staff cases_Feb7               9569 non-null   float64
 62  Total student cases_Jan31            9541 non-null   object
 63  Total staff cases_Jan31              9541 non-null   float64
 64  Total student cases_Jan24            9471 non-null   object
 65  Total staff cases_Jan24              9471 non-null   float64
 66  Total student cases_Jan17            9370 non-null   object
 67  Total staff cases_Jan17              9370 non-null   float64
 68  Total student cases_Jan12            9309 non-null   object
 69  Total staff cases_Jan12              9309 non-null   float64
 70  Total student cases_Jan5             9198 non-null   object
 71  Total staff cases_Jan5               9198 non-null   float64
 72  Total student cases_Dec29            9188 non-null   object
 73  Total staff cases_Dec29              9188 non-null   float64
 74  Total student cases_Dec20            9167 non-null   object
 75  Total staff cases_Dec20              9167 non-null   float64
 76  Total student cases_Dec15            9071 non-null   object
 77  Total staff cases_Dec15              9071 non-null   float64
 78  Total student cases_Dec6             8833 non-null   object
 79  Total staff cases_Dec6               8833 non-null   float64
 80  Total student cases_Nov29            8556 non-null   object
 81  Total staff cases_Nov29              8556 non-null   float64
dtypes: float64(23), object(59)
memory usage: 7.1+ MB

In [132]:
df.sample(20)

,District,Dist LEA,Dist Enrollment 10/30/20,Dist On-Campus Enrollment 10/30/20,Campus Name,Campus ID,Sch Enrollment 10/30/2020,Sch On-Campus Enrollment 10/30/2020,Total student cases_Nov22,Total staff cases_Nov22,...,Total student cases_Dec29,Total staff cases_Dec29,Total student cases_Dec20,Total staff cases_Dec20,Total student cases_Dec15,Total staff cases_Dec15,Total student cases_Dec6,Total staff cases_Dec6,Total student cases_Nov29,Total staff cases_Nov29
9079,KRESS ISD,'219905,267,263,KRESS EL,'219905101,133,133,NaN,NaN,...,0,2.0,0,3.0,NaN,NaN,0,3.0,*,0.0
3940,HUCKABAY ISD,'072908,267,267,HUCKABAY SCHOOL,'072908001,267,267,NaN,NaN,...,*,1.0,*,11.0,40,10.0,14,10.0,116,51.0
383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,39,12.0,NaN,NaN
6500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1.0,...,NaN,NaN,*,0.0,0,1.0,NaN,NaN,16,5.0
9482,MANSFIELD ISD,'220908,35191,20597,MARY JO SHEPPARD EL,'220908118,422,294,NaN,NaN,...,7,2.0,10,4.0,10,4.0,NaN,NaN,NaN,NaN
8543,AMARILLO ISD,'188901,31402,26649,BIVINS EL,'188901103,456,398,NaN,NaN,...,12,3.0,NaN,NaN,NaN,NaN,*,2.0,*,1.0
3167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,3.0,...,*,2.0,*,2.0,5,2.0,NaN,NaN,*,0.0
10675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,6.0,...,*,5.0,0,6.0,0,6.0,20,7.0,*,2.0
4603,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,*,6.0,*,2.0,*,1.0,NaN,NaN,*,1.0
9267,FORT WORTH ISD,'220905,77276,33320,WORLD LANGUAGES INSTITUTE,'220905084,519,233,NaN,NaN,...,15,0.0,26,0.0,455,7.0,6,5.0,NaN,NaN
643,SAN ANTONIO ISD,'015907,45857,13876,P F STEWART EL,'015907168,469,106,NaN,NaN,...,*,1.0,*,1.0,*,1.0,NaN,NaN,*,2.0
11026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,*,1.0,*,4.0,5,0.0
7229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22,15.0,...,*,6.0,5,2.0,*,18.0,*,9.0,*,6.0
8301,ROBSTOWN ISD,'178909,2602,868,NUECES CO J J A E P,'178909004,NR,NR,NaN,NaN,...,*,1.0,*,4.0,*,0.0,NaN,NaN,0,5.0
6682,LONE OAK ISD,'116906,967,945,LONE OAK H S,'116906001,332,324,NaN,NaN,...,6,5.0,13,5.0,NaN,NaN,20,17.0,1,19.0
5430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2.0,...,0,1.0,0,4.0,0,4.0,*,2.0,0,1.0
1926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*,5.0,...,74,33.0,NaN,NaN,NaN,NaN,1,5.0,*,1.0
1255,COLLEGE STATION ISD,'021901,13669,11041,SOUTH KNOLL EL,'021901101,583,487,NaN,NaN,...,*,7.0,0,1.0,0,4.0,NaN,NaN,*,2.0
407,GEORGE GERVIN ACADEMY\nTOTAL,'015802,867,224,NaN,NaN,867,224,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,*,0.0,NaN,NaN
1167,ANGLETON ISD,'020902,6853,5167,ANGLETON J H SCHOOL,'020902044,1601,1178,NaN,NaN,...,*,0.0,*,3.0,*,3.0,10,0.0,0,3.0